@import "./icons.scss";

// Dark Theme
// @import "./bootstrap-dark.scss";
// @import "./app-dark.scss";

// Light Theme
@import "./bootstrap.scss";
@import "./app.scss";

// RTL Mode
// @import "./rtl/bootstrap-rtl";
// @import "./rtl/components-rtl";
// @import "./rtl/float-rtl";
// @import "./rtl/general-rtl";
// @import "./rtl/pages-rtl";
// @import "./rtl/plugins-rtl";
// @import "./rtl/spacing-rtl";
// @import "./rtl/structure-rtl";
// @import "./rtl/text-rtl";

body {
  * {
    outline: none;
  }
}

#sidebar-menu {
  ul {
    li {
      a {
        i {
          min-width: 2rem;
        }
      }
    }
  }
}

.leaflet-pane {
  z-index: 1;
}

svg>rect:first-child {
  fill-opacity: 0 !important;
}

.dataTables_filter,
.dataTables_paginate {
  float: right;
}

.rdw-editor-main {
  border: 1px solid $gray-300;
  height: 239px;
  padding-left: 15px;
}

.dz-message {
  text-align: center;
  padding: 30px;
}

// kanban board
.react-kanban-column {
  height: 100%;
  min-height: 28px;
  display: inline-block;
  padding: 15px;
  border-radius: 2px;
  background-color: rgb(238, 238, 238);
  margin: 5px;
  vertical-align: top;
}

.fcYNFc,
.sc-AxmLO.gmtmqV {
  background-color: $card-bg !important;
  margin: 0 20px 0 0 !important;
}

.task-box {
  border: 1px solid $border-color;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.ReactModal__Overlay {
  z-index: 1001 !important;
}

.external-event {
  &:hover {
    cursor: pointer;
  }
}

a:hover {
  cursor: pointer;
}

.rating-container {
  background-color: transparent !important;
}

.input-group-append {
  z-index: 0;
}

.input-color {
  color: $input-color !important;
}

.sketch-picker {
  position: absolute;
  z-index: 1;
}

.rangeslider__fill {
  background-color: $primary !important;
}

.dropdown-menu-end {
  left: auto !important;
  right: 0 !important;
}

.flatpickr-months .flatpickr-month {
  background: $primary !important;
}

.flatpickr-weekdays {
  background: $primary !important;
}

span.flatpickr-weekday {
  background: $primary !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: $primary !important;
}

span.flatpickr-weekday {
  color: $white !important;
}

.flatpickr-day.selected {
  background: $primary !important;
}

.bs-select select {
  width: auto !important;
}

//File-manager
.file-manager {
  .table td {
    padding: 0.35rem;
  }
}

//Authenication carousel
.slider_css {
  .slide {
    background: none !important;
  }

  .carousel-status,
  .control-next,
  .control-prev {
    display: none !important;
  }
}

.carousel {
  .control-dots {
    margin: -5px 0px;
  }

  .dot {
    background: #3e90e2 !important;
    width: 9px !important;
    height: 9px !important;
  }
}

//Two verification Page
.verification {
  input {
    &:focus {
      border: none;
      outline: none !important;
    }
  }
}

@media (max-width: 768px) {
  .verification {
    input {
      width: 40px !important;
    }
  }
}

@media (max-width: 320px) {
  .verification {
    input {
      width: 30px !important;
      height: 30px !important;
      font-size: 15px !important;
    }
  }
}

//Two verification Page - 2
.verification-2 {
  input {
    &:focus {
      border: none;
      outline: none !important;
    }
  }
}

@media (max-width: 768px) {
  .verification-2 {
    input {
      width: 40px !important;
      font-size: 14px;
    }
  }
}

@media (max-width: 320px) {
  .verification-2 {
    input {
      width: 30px !important;
      height: 35px !important;
      font-size: 15px !important;
    }
  }
}

//Calendar
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  padding: 5px !important;
  font-size: 12px !important;
  margin-right: 2px;
}

@include media-breakpoint-down(sm) {
  .fc-toolbar {
    display: block !important;
    text-align: center;

    .fc-left,
    .fc-right,
    .fc-center {
      float: none;
      display: block;
      clear: both;
      margin: 10px 0;
    }
  }

  .fc {
    .fc-toolbar {
      >* {
        >* {
          float: none;
        }
      }
    }
  }

  .fc-today-button {
    display: none;
  }
}

//Chat Scrollbar
.ps__rail-y {
  z-index: 999999 !important;
}

.close {
  background: transparent;
  border: 0;
  font-size: 10px;
  padding: 1.35rem 1.25rem;
  background: transparent escape-svg($btn-close-bg) center / $btn-close-width auto no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 1em;
  height: 1em;
  z-index: 2;

  span {
    display: none;
  }
}

//
// Columns
//

.card-columns {
  .card {
    margin-bottom: $grid-gutter-width;
  }

  @include media-breakpoint-up(sm) {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}

/* drawer */
.react-drawer-drawer {
  z-index: 9999;
  background: #fff;
}

.drawer-main-menu {
  padding-top: 8px;
  padding-bottom: 8px;
}

.drawer-menu a i {
  min-width: 2rem;
  display: inline-block;
  min-width: 1.75rem;
  padding-bottom: 0.125em;
  font-size: 1.25rem;
  line-height: 1.40625rem;
  vertical-align: middle;
  color: #7f8387;
  transition: all 0.4s;
}

.drawer-menu a {
  display: block;
  padding: 0.625rem 1.5rem;
  color: #545a6d;
  position: relative;
  font-size: 13px;
  transition: all 0.4s;
}

.drawer-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.ReactModal__Overlay {
  z-index: 5000 !important;
}

.rangeslider__handle:focus {
  outline: none;
}

// React Table next css
.react-bootstrap-table-page-btns-ul {
  float: right !important;
}

.search-label {
  float: right;
}

.react-drawer-overlay {
  z-index: 9999;
}

// datatable

.react-bs-table-sizePerPage-dropdown {
  .dropdown-menu {
    .dropdown-item {
      a {
        display: block;
      }
    }
  }
}

.rightbar-title .right-bar-toggle {
  background-color: #444c54 !important;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px !important;
  display: block !important;
  color: #eff2f7 !important;
  text-align: center !important;
  border-radius: 50% !important;
}

//rightbar drawer
.css-sourceMap-modules-importLoaders-1-localIdentName-animate__animated___2O131 {
  animation-duration: 0.6s !important;
}

.css-sourceMap-modules-importLoaders-1-localIdentName-ReactDrawer__overlay___2QFmC-sass {
  background: rgba(0, 0, 0, 0.15) !important;
}

/*  tui charts**/
.tui-chart .tui-chart-chartExportMenu-area {
  z-index: 1 !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.search-top {
  background: #f6f6f9;
}

.search-bor {
  border-radius: 50px;
}

.clear-spa {
  justify-content: space-between;
}

th {
  background-color: #0069aa;
  color: #fff;
  padding: 3px 10px;
  border: 1px solid #e4e4e4
}

td {
  padding: 1px 10px;
  border: 1px solid #e4e4e4;
}

svg.p-icon {
  color: #fff;
}

svg.p-paginator-icon {
  color: #007bff;
}

.p-component {
  font-size: 0.85rem;
}

.p-column-filter-overlay-menu .p-column-filter-add-rule {
  padding: 0 !important;
}

.actions span:hover i {
  color: #3e90e2;
  transform: scale(1.5);
}

@layer primereact {
  .p-datatable .p-datatable-header {
    padding: 0.7rem 0.8rem;
  }
}

.breadcrumb-item>a {
  color: #b22222;
}

.btn-sm,
.btn-group-sm>.btn.mdi-delete-outline::before {
  color: #f46a6a;
  font-size: 20px;
}

.table-height {
  height: 410px;
}

.table-light th {
  color: #444c54;
}

.br-1 {
  border-right: 1px solid #b5b5b5;
}

.b-0 {
  border: 0px solid #b5b5b5;
}


.order-pad .col-lg-3 {
  width: 25%;
}

.order-pad .col-lg-2 {
  width: 17%;
}

.order-pad .col-lg-5.button-items {
  width: 41%;
}

.quotation-top .col-lg-6 {
  margin-top: 10px !important;
}

.quotation-mid {
  margin-top: 0 !important;
}

.quotation-mid .form-control {
  padding: 0.47rem 0.25rem;
  width: 98% !important;
  max-width: 98% !important;
  max-width: 98% !important;
}

// .quotation-mid .mb-3 { width: calc(100% - 35px);}
.quotation-mid .col-12 {
  margin-top: 0 !important;
}

.quotation-btm .col-lg-3 {
  margin-top: 12px !important;
}

.quotation-btm .p-datatable-header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.button-items .me-2 {
  margin-right: 0.1rem !important;
}

.button-items button {
  padding: 0.47rem 0.55rem;
}

.fixed-width {
  width: 10%
}

.tdfrmsizechg {
  width: 2em;
  height: 2em;
  margin-top: 0.05em;
}

.accordion-button:not(.collapsed) {
  background-color: #c0ddfa;
  color: #444c54;
}

.alert-new {
  padding: 0.5rem 0.25rem;
  margin-bottom: 5px;
}

@media screen and (min-width:992px) and (max-width:1060px) {
  .quotation-mid .col-12.col-lg-4.text-end.button-items {
    width: 100% !important;
  }
}

@media screen and (max-width:995px) {
  .quotation-mid .col-sm-4.text-center {
    text-align: left !important;
  }

  .quotation-mid .col-12.col-lg-4.text-end.button-items {
    margin-bottom: 0 !important;
  }

  .tab-wid th,
  .tab-wid td {
    padding: 0.75rem 0.55rem !important;
  }

  .tab-wid .table {
    width: 1000px !important;
  }

  .tab-wid .form-select {
    padding: 0.47rem 0.85rem 0.47rem 0.35rem;
  }

  .tab-wid .form-control {
    padding: 0.47rem 0.35rem;
  }
}

@media screen and (max-width:575px) {
  .quotation-mid .d-flex {
    flex-wrap: wrap;
  }
}

.required-label::after {
  content: " *";
  color: red;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
}

.form-check .form-check-input {
  float: left;
  margin-left: 0;
  margin-right: 8px;
  margin-top: 0px;
}

.select-invalid div {
  border-color: #f46a6a;
}

.bg-model-hd {
  background-color: #2196f3;
  color: #eff2f7;
}

.bg-model-hd h5,
.bg-model-hd button {
  color: #faf7f7;
}

.custom-tooltip .tooltip-inner {
  text-align: left;
}

.frm-chk-addresstype {
  padding-left: 0.5em;
  margin-bottom: 0.25rem;
}

.bgchange:checked {
  background-color: #014c7a
}

.form-check-input:disabled {
  background-color: currentColor;
}

ul.p-autocomplete-items {
  margin-bottom: 0;
  padding-left: 0;
  background-color: #eff0f1;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.my-autocomplete input {
  width: 100% !important;
}

.checkbox-size-1 {
  width: 1.3em;
  height: 1.3em;
  margin-top: 0.05em;
}

.checkbox-blue-border {
  appearance: none;
  -webkit-appearance: none;

  border: 2px solid #3664e7;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.checkbox-blue-border:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 7px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.btn-circle {
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.btn-circle.pi {
  font-size: 0.6rem;
  font-weight: bold;
}

.p-accordion-header svg.p-icon {
  color: #5a5a5a;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
  background-color: transparent !important;
  color: inherit !important;
}

.rejected-row {
  background-color: #e5e8d1;
  /* light red */
  color: black;
  /* dark text */
}

.PPP_Datatable .p-column-header-content .p-checkbox {
  display: none !important;
}

.ClaimTable tbody tr td {
  padding: 0.3rem;
}

.ProcurementTable tbody tr td {
  padding: 0.3rem;
}


.Discussed-row {
  background-color: #f0cf92;
  /* light red */
  color: black;
  /* dark text */
}


// .paymentsummarypv .paymentsummarypv tr td{
//   border: "2px solid #d0d0d0";
// }

/* Parent grid style */
.parent-table {
  background-color: #f4f8ff;
  /* light blue background */
  border: 2px solid #3b82f6;
  /* blue border */
  font-weight: 600;
  /* bold headers */
}

.parent-table .p-datatable-thead>tr>th {
  background-color: #dbeafe;
  /* darker header */
  color: #1e40af;
}


/* Child grid style */
.child-table {
  background-color: #fef9c3;
  /* light yellow background */
  border: 1px dashed #ca8a04;
  /* yellow dashed border */
  font-size: 0.9rem;
}

.child-table .p-datatable-thead>tr>th {
  background-color: #fde68a;
  color: #78350f;
}

.blink-text {
  color: red;
  padding-top: 10px;
  font-weight: bold;
  animation: blinker 1s linear infinite;
}


.blink-text2 {
  color: red;
  padding-top: 10px;
  font-weight: bold;

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.linkcolor {
  color: blue !important
}